/resources/public/js/compiled/**
figwheel_server.log
pom.xml
.DS_Store
*jar
*.swp
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
src/stadium/data/google-api.cljs
